.jumbotron {
    margin: 1rem;
}

.nav-link {
    display: inline-flex;
    padding: .5rem 1rem;
    float: left;
}

#footy {
    margin: 1rem;
}

#social_icons {
    display: flex;
    float: right;
}

.footer-link {
    display: inline-flex;
    padding: .5rem 1rem;
    float: left;
}

#projects {
    text-align: center;
}

#tagline {
    margin-left: 1.5rem;
}

.col-sm-6
{
    text-align: center;
}

h1 {
    margin-bottom: .2rem;
}

.nav-link {
    display: inline-flex;
    padding: .5rem 1rem;
    float: left;
}

body {

    font-family: "Times New Roman", Times, serif;
    background-color: #232323;
    color: #fff;
}

a {
  color: #00bcc8;  
}

#cards {
    margin: 1rem;
}

#bookForm {
    margin: 1rem;
}

.card {
    border-radius: 1rem;
    margin: .5rem;
}

.card-body {
    color: #000;
    text-align: left;
}

.dropdown-item {
    color: #000;
}

#pic {
    height: 10rem;
    border-radius: 5rem;
    margin: 1rem;
}

#headline {
    margin: 1rem .5rem;
}

#title {
    font-size: 1.75rem;
    padding: 1rem;
}

.button {
    padding: .2rem;
}

.dropdown-menu
{
    overflow-y: scroll;
    height: 200px;
}