.jumbotron
{
    margin: 1rem;
}

.nav-link {
    display: inline-flex;
    padding: .5rem 1rem;
    float: left;
}

#footy
{
    margin: 1rem;
}

#social_icons{
    display: flex;
    float: right;
}

.footer-link
{
    display: inline-flex;
    padding: .5rem 1rem;
    float: left;   
}

#projects
{
    text-align: center;
}

#tagline{
    margin-left: 1.5rem;
}

h1{
    margin-bottom: .2rem;
}

.nav-link {
    display: inline-flex;
    padding: .5rem 1rem;
    float: left;
}

#cards 
{
    margin: 1rem;
}

#bookForm
{
    margin: 1rem;
}

.card
{
    border-radius: 1rem;
    margin: .5rem;
}

#pic
{
    height: 6rem;
    border-radius: 3rem;
    margin: 1rem;
}

#headline
{
    margin: 1rem .5rem;
}

#title
{
    font-size: 1.75rem;
    padding: 1rem;
}

.button
{
    padding: .2rem;
}
